<h1>Log in </h1>
<form method="post">
    <label>Apellido</label>
    <input type="text" name="email"class="form-control"/>
    <label>Password</label>
    <input type="password" name="pass"class="form-control"/>
    <button class="btn btn-danger">Login</button>
</form>
<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>